.DS_Store
*.sw*
browsers
coverage
dist
es5
logs
node_modules
test/crossbrowser/lib
test/crossbrowser/src/browser/index.js
test/lib/sdkdriver/lib
test/lib/sdkdriver/test/integration/browser/index.js
npm-debug.log
package-lock.json
test.json
yarn.lock
.env
.idea
.vscode
.nyc_output
pre-commit.sh
tsbuild
