# to validate any changes
# use:
# circleci config process .circleci/config.yml > config_processed.yml
#
# and run any job locally with:
# circleci local execute -c config_processed.yml --job "firefox stable group"
version: 2.1
parameters:
  environment:
    type: enum
    enum: ["prod", "stage", "dev"]
    default: "stage"
  pr_workflow:    # runs for every pull request.
    type: boolean
    default: true # by default pr workflow will get executed.
  release_workflow:
    type: boolean
    default: false # this will also need parameter.releaseCommand
  custom_workflow: # runs just one custom config.
    type: boolean
    default: false
  backend_workflow: # runs JS integration.
    type: boolean
    default: false
  backend_group_workflow: # runs Group only JS integration.
    type: boolean
    default: false
  tag:
    type: string
    default: "" # use something like: "2.0.0-beta15" when invoking with parameters.
  browser:
    type: enum
    enum: ["chrome", "firefox"]
    default: "chrome"
  bver:
    type: enum
    enum: ["stable", "beta", "unstable"]
    default: "stable"
  topology:
    type: enum
    enum: ["group", "peer-to-peer"]
    default: "group"
  test_stability: # should it run flaky tests?
    type: enum
    enum: ["all", "stable", "unstable"]
    default: "all"
  release_command:
    type: string
    default: "echo no release command was specified" # release-tool specifies the real command.
  test_files: # specifies test files to execute.
    type: string
    default: "auto"

defaultEnv: &defaultEnv
  ENVIRONMENT: << pipeline.parameters.environment >>
  ENABLE_REST_API_TESTS: "true"
executors:
  docker-with-browser:
    parameters:
      browser:
        type: enum
        enum: ["chrome", "firefox"]
        default: "chrome"
      bver:
        type: enum
        enum: ["stable", "beta", "unstable"]
        default: "stable"
    docker:
      - image: twilio/twilio-video-browsers:<<parameters.browser>>-<<parameters.bver>>
        auth:
          username: $DOCKER_HUB_USERNAME
          password: $DOCKER_HUB_PASSWORD
    environment:
      <<: *defaultEnv
  generic-executor:
    docker:
      - image: alpine:3.7
        auth:
          username: $DOCKER_HUB_USERNAME
          password: $DOCKER_HUB_PASSWORD
    environment:
      <<: *defaultEnv
  machine-executor:
    machine:
      image: ubuntu-2004:202111-02
    environment:
      <<: *defaultEnv
commands:
  get-code:
    steps:
      - checkout
      - when:
          condition: << pipeline.parameters.tag >>
          steps:
            - run: git checkout << pipeline.parameters.tag >>
  get-code-and-dependencies:
    steps:
      - get-code
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run:
          name: Installing dependencies
          command: npm install --legacy-peer-deps
      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - ./node_modules
  save-test-results:
    steps:
      - store_test_results:
          path: ./logs
      - store_artifacts:
          path: ./logs
          prefix: tests
  build:
    steps:
      - get-code-and-dependencies
      - run:
          name: Building Quick
          command: npm run build:quick
      - store_artifacts:
          path: ./dist
          prefix: dist
  unit-tests:
    steps:
      - get-code-and-dependencies
      - run:
          name: Running Unit Tests
          command: npm run test:unit
      - store_artifacts:
          path: ./coverage
          prefix: coverage
  integration-tests:
    steps:
      - get-code-and-dependencies
      - run:
          name: Running Integration Tests (environment = << pipeline.parameters.environment >>)
          command: scripts/circleci-run-tests.sh
      - save-test-results
  network-tests:
    steps:
      - get-code # note: network tests run inside docker - the dependencies will be fetched inside docker image.
      - run:
          name: Running Network Tests (environment = << pipeline.parameters.environment >>)
          command: scripts/circleci-run-tests.sh
      - save-test-results
  umd-tests:
    steps:
      - build
      - run:
          name: Installing UMD test dependencies
          command: npm run test:umd:install
      - run:
          name: Running UMD Tests
          command: npm run test:umd
      - save-test-results
  serversiderender-tests:
    steps:
      - build
      - run:
          name: Running Server Side Render Tests
          command: npm run test:serversiderender
      - save-test-results
  echo-command:
    description: "marker command"
    parameters:
      to:
        type: string
        default: "Hello World"
    steps:
      - run: echo << parameters.to >>
jobs:
  Build:
    executor: docker-with-browser
    steps:
      - build
  UnitTests:
    executor: docker-with-browser
    steps:
      - unit-tests
  BuildComplete:
    executor: generic-executor
    steps:
      - echo-command:
          to: "Build Phase Complete!"
  BuildPassed:
    executor: generic-executor
    steps:
      - echo-command:
          to: "Build Passed!"
  run-integration-tests:
    parallelism: << parameters.parallelism >>
    parameters:
      parallelism:
        type: integer
        default: 6
      browser:
        type: string
      bver:
        type: string
      topology:
        type: enum
        enum: ["group", "peer-to-peer"]
        default: "group"
      test_stability:
        type: string
    environment:
      TEST_TYPE: "integration"
      TOPOLOGY: << parameters.topology >>
      TEST_STABILITY: << parameters.test_stability >>
      TEST_FILES: << pipeline.parameters.test_files >>
    executor:
      name: docker-with-browser
      browser: << parameters.browser >>
      bver: << parameters.bver >>
    steps: [integration-tests]
  run-network-tests:
    parameters:
      browser:
        type: string
      topology:
        type: string
      test_stability:
        type: string
    environment:
      TEST_TYPE: "network"
      BVER: "stable"
      BROWSER: << parameters.browser >>
      TOPOLOGY: << parameters.topology >>
      TEST_STABILITY: << parameters.test_stability >>
    executor: machine-executor
    steps: [network-tests]
  UMD-tests:
    environment:
      BROWSER: "chrome"
    executor: docker-with-browser
    steps: [umd-tests]
  ServerSideRender-tests:
    executor: docker-with-browser
    steps: [serversiderender-tests]
  Build-Docker-Test-Image:
    executor: machine-executor
    parameters:
      browser:
        type: string
      bver:
        type: string
    steps:
      - checkout
      - run:
          name: Building Docker Image
          command: .circleci/images/build_docker_image.sh
      - save-test-results
    environment:
      BROWSER: << parameters.browser >>
      BVER: << parameters.bver >>

  ExecuteRelease:
    executor: docker-with-browser
    parameters:
      dryRun:
        type: boolean
        default: true
    steps:
      - build
      - when:
          condition: << parameters.dryRun >>
          steps:
            - run: echo Wait for other jobs in the workflow to finish
            - run: echo Release will execute "<< pipeline.parameters.release_command >>"
      - unless:
          condition: << parameters.dryRun >>
          steps:
            - run: << pipeline.parameters.release_command >>

  trigger-qe-tests:
    docker:
      - image: circleci/node:latest
        auth:
          username: $DOCKER_HUB_USERNAME
          password: $DOCKER_HUB_PASSWORD

    steps:
      - run:
          name: Trigger QE tests
          command: |
            curl --fail --write-out "\nHTTP Response Code: %{http_code}\n" \
            -u $CIRCLECI_PERSONAL_API_TOKEN: -X POST --header "Content-Type: application/json" \
            -d '{"branch":"'v${CIRCLE_TAG:0:1}'","parameters":{"sdk_version":"'$CIRCLE_TAG'","is_rc":true}}' \
            $SDKS_QE_CIRCLECI_VIDEO_JS_SLAVE_PIPELINE_ENDPOINT

workflows:
  version: 2
  Build_Docker_Images_Workflow:
    triggers:
      - schedule:
          cron: "10 10 * * *"
          filters:
            branches:
              only:
                - VIDEO-10695-New-dockerProxy-Test-fix
    jobs:
      - Build-Docker-Test-Image:
          context: dockerhub-push
          matrix:
            parameters:
              browser: ["chrome", "firefox"]
              bver: ["stable", "unstable", "beta"]
  Custom_Workflow:
    when:
      and:
        - << pipeline.parameters.custom_workflow >>
        - equal: [ auto, << pipeline.parameters.test_files >> ]
    jobs:
      - Build:
          context: dockerhub-pulls
      - UnitTests:
          context: dockerhub-pulls
      - run-integration-tests:
          context: dockerhub-pulls
          name: Integration(<< pipeline.parameters.test_stability >>) << pipeline.parameters.environment >> << pipeline.parameters.browser >>(<< pipeline.parameters.bver >>) << pipeline.parameters.topology >>
          browser: << pipeline.parameters.browser >>
          bver: << pipeline.parameters.bver >>
          topology: << pipeline.parameters.topology >>
          test_stability: << pipeline.parameters.test_stability >>
      - run-network-tests:
          context: dockerhub-pulls
          name: Network(<< pipeline.parameters.test_stability >>) << pipeline.parameters.environment >> << pipeline.parameters.browser >> << pipeline.parameters.topology >>
          browser: << pipeline.parameters.browser >>
          topology: << pipeline.parameters.topology >>
          test_stability: << pipeline.parameters.test_stability >>
  Custom_Workflow_with_specific_test_file:
    when:
      and:
        - << pipeline.parameters.custom_workflow >>
        - not:
            equal: [ auto, << pipeline.parameters.test_files >> ]
    jobs:
      - run-integration-tests:
          context: dockerhub-pulls
          name: Integration(<< pipeline.parameters.test_stability >>) << pipeline.parameters.environment >> << pipeline.parameters.browser >>(<< pipeline.parameters.bver >>) << pipeline.parameters.topology >>
          browser: << pipeline.parameters.browser >>
          bver: << pipeline.parameters.bver >>
          topology: << pipeline.parameters.topology >>
          test_stability: << pipeline.parameters.test_stability >>
          parallelism: 1
  Backend_Workflow:
    when: << pipeline.parameters.backend_workflow >>
    jobs:
      - run-integration-tests:
          context: dockerhub-pulls
          name: << matrix.test_stability >> integration << matrix.topology >> tests << matrix.browser >>(<< matrix.bver >>)
          matrix:
            parameters:
              browser: ["chrome", "firefox"]
              bver: ["stable"]
              topology: ["group", "peer-to-peer"]
              test_stability: ["stable"]
      - run-network-tests:
          context: dockerhub-pulls
          name: << matrix.test_stability >> network << matrix.topology >> tests on << matrix.browser >>
          matrix:
            parameters:
              browser: ["chrome", "firefox"]
              topology: ["group", "peer-to-peer"]
              test_stability: ["stable"]

  Backend_Group_Workflow:
    when: << pipeline.parameters.backend_group_workflow >>
    jobs:
      - run-integration-tests:
          context: dockerhub-pulls
          name: << matrix.test_stability >> integration << matrix.topology >> tests << matrix.browser >>(<< matrix.bver >>)
          matrix:
            parameters:
              browser: ["chrome", "firefox"]
              bver: ["stable"]
              topology: ["group"]
              test_stability: ["stable"]
      - run-network-tests:
          context: dockerhub-pulls
          name: << matrix.test_stability >> network << matrix.topology >> tests on << matrix.browser >>
          matrix:
            parameters:
              browser: ["chrome", "firefox"]
              topology: ["group"]
              test_stability: ["stable"]

  Pull_Request_Workflow:
    when: << pipeline.parameters.pr_workflow >>
    jobs:
      - Build:
          context: dockerhub-pulls
      - UnitTests:
          context: dockerhub-pulls
      - run-integration-tests:
          context: dockerhub-pulls
          name: << matrix.test_stability >> integration << matrix.topology >> tests on << matrix.browser >>(<< matrix.bver >>)
          matrix:
            parameters:
              browser: ["chrome", "firefox"]
              bver: ["stable", "unstable", "beta"]
              topology: ["group", "peer-to-peer"]
              test_stability: ["stable"]
          requires: [Build, UnitTests]
      - run-integration-tests:
          context: dockerhub-pulls
          name: << matrix.test_stability >> integration << matrix.topology >> tests on << matrix.browser >>(<< matrix.bver >>)
          matrix:
            parameters:
              browser: ["chrome", "firefox"]
              bver: ["stable"]
              topology: ["group", "peer-to-peer"]
              test_stability: ["unstable"]
          requires: [Build, UnitTests]
      - run-network-tests:
          context: dockerhub-pulls
          name: << matrix.test_stability >> network << matrix.topology >> tests on << matrix.browser >>
          matrix:
            parameters:
              browser: ["chrome", "firefox"]
              topology: ["group", "peer-to-peer"]
              test_stability: ["stable", "unstable"]
          requires: [Build, UnitTests]
      - UMD-tests:
          context: dockerhub-pulls
          name: "umd tests"
          requires: [Build, UnitTests]
      - ServerSideRender-tests:
          context: dockerhub-pulls
          name: "serversiderender tests"
          requires: [Build, UnitTests]

  Release_Workflow:
    when: << pipeline.parameters.release_workflow >>
    jobs:
      - Build:
          context: dockerhub-pulls
      - UnitTests:
          context: dockerhub-pulls
      - run-integration-tests:
          context: dockerhub-pulls
          name: << matrix.test_stability >> integration << matrix.topology >> tests on << matrix.browser >>(<< matrix.bver >>)
          matrix:
            parameters:
              browser: ["chrome", "firefox"]
              bver: ["stable", "unstable", "beta"]
              topology: ["group", "peer-to-peer"]
              test_stability: ["stable"]
          requires: [Build, UnitTests]
      - ExecuteRelease:
          context: dockerhub-pulls
          dryRun: true
          name: Release dry run
          requires: [Build, UnitTests]
      - hold:
          type: approval
          requires: [Release dry run]
      - ExecuteRelease:
          dryRun: false
          context: [sdk_js, dockerhub-pulls]
          requires: [hold]

  Release-candidate:
    jobs:
      - trigger-qe-tests:
          context: [sdks-qe, dockerhub-pulls]
          filters:
            tags:
              only:
                - /^\d+\.\d+\.\d+-rc\d+$/
                - /^\d+\.\d+\.\d+-preview\d+-rc\d+$/
                - /^\d+\.\d+\.\d+-beta\d+-rc\d+$/
                - /^\d+\.\d+\.\d+-rc\.\d+$/
                - /^\d+\.\d+\.\d+-preview\d+-rc\.\d+$/
                - /^\d+\.\d+\.\d+-beta\d+-rc\.\d+$/
            branches:
              ignore: /.*/
